
  .flex-container {
    display: flex;
    background: #1F2937;
    border: 4px solid #1F2937;
    height: 80px;
    flex: 1;
  }

  .items{
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    justify-content: space-around;
    gap: 24px;
    margin-right: 250px;
  }

  .header {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
    flex-basis: 400px
  }
  
  .zero {
    color: #f9faf8;
    font-size: 24px;
  }
  .items {
    color: #e5e7eb;
    font-size: 18px;
    align-items: center;
  }